body {
  background-color: #3d3d3d;
  color: white;
  font-family: sans-serif;
}

header {
  background-color: #272727;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 52px;
  color: yellow;
  margin: 0;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header ul li {
  margin-right: 10px;
  font-size: 40px;
  font-weight: bold;
}

header ul li:first-child {
  color: yellow;
}

header ul li.hidden {
  display: none;
}

header .plus-sign {
  cursor: pointer;
}

.content {
  padding: 20px;
}

/* Media query to hide nav links on smaller screens */
@media (max-width: 600px) {
  header ul {
    display: none;
  }
  
  header .plus-sign {
    display: block;
  }
  
  header ul li.hidden {
    display: block;
  }
}
